body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: black;
	color: lightblue;

	background-image: url(Minecraft.png);
	background-;
}

h1 {
	text-align: center;
}

time {
	display: flex;
	display: inline-flex;
	line-height: 40px;
	height: 40px;
	overflow: hidden;
}

time span {
	transition: transform 0.6s cubic-bezier(0.25, 1, 0.5, 1);
	/* transition: transform 0.6s cubic-bezier(0.33, 0.34, 0.19, 1.28);
	transition: transform 0.6s cubic-bezier(0.42, 0.4, 0.19, 1.23); */
	will-change: transform;
	white-space: pre;
}

.password {
	display: none;
}

iframe {
	width: 100%;
	height: 50vh;
}